body {
    max-height: 100%;
    width: 100%;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #00afea), linear-gradient(to bottom, #06334c, #06334c);
}

::placeholder {color: white; opacity: 0.6;}
:-ms-input-placeholder {color: white;}
::-ms-input-placeholder {color: white;}

.arrow-content {
    height: 5vh;
    max-height: 5vh;
    line-height: 5vh;
    text-align: center;
    transition: 0.6s ease-in-out all;
}

.arrow-content img {
    width: 2.5vh;
    height: 2.5vh;
    margin-top: 1.2vh;
}

.arrow-content.down { background: black; }

.arrow-content.up img { transform: rotate(180deg); }

.arrow-content.up.show { margin-top: 10px; }

.arrow-content.hide {
    height: 0;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    height: 55px;
    display:block;
    width: 100%;
    background: url("../images/header.svg") 100% 100% no-repeat;
    background-size: cover;
    z-index: 9;
    padding: 10px;
    box-sizing: border-box;
}

header h1 {
    font-weight: 500;
    font-size: 14px;
    max-width: 80%;
    color: white;
    display: inline-block;
}

header a {
    display: inline-block;
    width: 17px;
    float: right;
    margin-top: 13px;
}

header .infos {
    display: block;
    width: 100%;
}

/* SECTION EKO VIDEO */

section.eko .content {
    background: black;
    height: 90vh;
    max-height: 90vh;
    width: 100vw;
    margin-top: 5vh;
}

section.eko iframe{
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
}

/* SECTION PETITION */

section.petition .content {
    padding: 0 20px;
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

section.petition #regForm.hide {
    display: none;
}

section.petition label, section.petition input {
    display: block;
}

section.petition label {
    font-weight: 700;
    margin: 0 0 30px 0;
}

section.petition .form-input {
    font-family: Montserrat, arial, helvetica, sans-serif;
    font-weight: 600;
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    height: 25px;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    background: transparent url('../images/input.svg') center center no-repeat;
    background-size: contain;
}

section.petition .content .tab {
    display: none;
}

section.petition button {
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
}

section.petition .prevNext {
    overflow: auto;
    margin-top: 10px;
}

section.petition .prevNext #nextBtn {
    cursor: pointer;
    background: url('../images/arrow-right.svg') center center no-repeat;
    float: right;
}

section.petition .prevNext #nextBtn.hide {
    display: none;
}

section.petition .prevNext #prevBtn {
    cursor: pointer;
    background: url('../images/arrow-left.svg') center center no-repeat;
    float: left;
}

section.petition .content .step {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

section.petition .content .step.active {
    opacity: 1;
}

section.petition .content .step.finish {
    background-color: #36b49f;
}


section.petition #submit.hide {
    display: none;
}

section.petition #submit {
    margin-top: 30px;
}

section.petition #submit small {
    font-size: 10px;
}

section.petition #submit input[type=submit] {
    cursor: pointer;
    background: url('../images/submit.svg') center center no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

section.petition #thanks.hide {
    display: none;
}

section.petition #thanks {
    text-align: center;
    font-weight: 700;
}

section.petition img {
    max-width: 90%;
}

section.petition #thanks .nb {
    font-size: 50px;
    margin-bottom: 10px;
}

section.petition #thanks .gauge {
    display: block;
    margin: 20px auto;
}

section.petition #thanks .merci {
    font-size: 30px;
    margin: 15px 0;
}

section.petition #thanks .btns {
    margin: 20px 0;
}

section.petition #thanks .btns img {
    margin: 5px 0;
}

section.petition #thanks .gp {
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
