body {
    max-height: 100%;
    width: 100%;
}

/* SECTION PRESENTATION */

section.presentation {

}

section.presentation header {
    height: 10vh;
    max-height: 10vh;
}

section.presentation iframe {
    max-height: 90vh;
    max-width: 100vw;
}

section.presentation {

}

/* SECTION EKO VIDEO */

section.eko {

}

section.eko iframe{
    max-height: 100vh;
    max-width: 100vw;
}
