body {
    max-height: 100%;
    width: 100%;
}

.arrow-content {
    height: 5vh;
    max-height: 5vh;
    text-align: center;
}

.content {
    height: 90vh;
    max-height: 90vh;
}

/* SECTION PRESENTATION */

section.presentation h1 {
    height: 5vh;
    max-height: 5vh;
}

section.presentation iframe {
    max-height: 90vh;
    max-width: 100vw;
}

/* SECTION EKO VIDEO */

section.eko {

}

section.eko iframe{
    max-height: 90vh;
    max-width: 100vw;
}

section.ecv iframe {
    max-height: 90vh;
    max-width: 100vw;
}
