<!DOCTYPE html>
<html>
<head>
    <title>Greenpeace - Save the Planet</title>
    <meta name="viewport" title="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/fullpage.min.css" />

</head>
<body>
<header>
    <h1>5 minutes pour comprendre l'importance du Traité de la Haute Mer</h1>
    <a href="#" title="" target="_blank"><img src="images/info.svg" class="infos" alt="Je souhaite en savoir plus sur le traité"></a>
    <div class="arrow-content up hide" id="header-arrow">
        <img src="images/arrow.svg">
    </div>
</header>
<div id="fullpage">
    <section class="section eko">
        <div class="content">
            <iframe height="1280" width="720" src="https://video.helloeko.com/v/MwddWG/embed?publisherID=OfVRQh" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="arrow-content down">
            <img src="images/arrow.svg">
        </div>
    </section>

    <section class="section petition">
        <div class="content">
            <h2>Soutien Samuel et signes la pétition</h2>
            <form action="" method="post">
                <div class="form-group">
                    <label for="firstname" id="firstname">Prénom</label>
                    <input name="firstname" title="firstname" type="text">
                </div>
                <div class="form-group">
                    <label for="lastname" id="lastname">Nom de famille</label>
                    <input name="lastname" title="lastname" type="text">
                </div>
                <div class="form-group">
                    <label for="email" id="email">E-mail</label>
                    <input name="email" title="email" type="email">
                </div>
                <div class="form-group">
                    <label for="city" id="city">Ville</label>
                    <input name="city" title="city" type="text">
                </div>

                <p>
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis earum, eius libero molestiae necessitatibus placeat veritatis? Accusamus aliquid consequuntur dolore hic nam. Incidunt, odit voluptas. Cupiditate earum excepturi labore quaerat.</small>
                </p>

                <div class="form-submit">
                    <input type="submit" value="Je signe">
                </div>
            </form>
        </div>
    </section>
</div>

<!--<script type="text/javascript" src="javascript/scrolloverflow.min.js"></script>-->
<script type="text/javascript" src="javascript/fullpage.min.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>
