<!DOCTYPE html>
<html>
<head>
    <title>5 minutes pour comprendre l'importance du Traité de la Haute Mer</title>
    <meta name="viewport" title="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/fullpage.min.css" />

</head>
<body>
<header>
    <h1>5 minutes pour comprendre l'importance du Traité de la Haute Mer</h1>
    <a href="javascript:void(0)" title="Je souhaite en savoir plus sur le traité" target="_blank"><img src="images/info.svg" class="infos" alt="Je souhaite en savoir plus sur le traité"></a>
    <div class="arrow-content up hide" id="header-arrow">
        <img src="images/arrow.svg">
    </div>
</header>
<div id="fullpage">
    <section class="section eko">
        <div class="content">
            <iframe width="1280" height="720" scrolling="no" src="https://video.helloeko.com/v/VlvvKD/embed?autoplay=true&publisherID=ctOXNz" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="arrow-content down">
            <img src="images/arrow.svg">
        </div>
    </section>

    <section class="section petition">
        <div class="content">
            <form id="regForm" action="" method="post">
                <div class="tab form-group">
                    <label for="firstname" id="firstname">Prénom</label>
                    <input class="form-input" name="firstname" title="firstname" required placeholder="Ton prénom" type="text">
                </div>
                <div class="tab form-group">
                    <label for="lastname" id="lastname">Nom de famille</label>
                    <input class="form-input" name="lastname" title="lastname" required placeholder="Ton nom" type="text">
                </div>
                <div class="tab form-group">
                    <label for="email" id="email">E-mail</label>
                    <input class="form-input" name="email" title="email" required placeholder="Ton e-mail" type="email">
                </div>
                <div class="tab form-group">
                    <label for="city" id="city">Code postal</label>
                    <input class="form-input" name="city" title="city" required placeholder="Ton code postal" type="text">
                </div>

                <div class="prevNext">
                    <div>
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)"></button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)"></button>
                    </div>
                </div>

                <div id="submit" class="hide">
                    <small>
                        En cliquant sur « Je signe ! », vous acceptez de recevoir les communications et des formes d’engagements de la part de Greenpeace via les coordonnées collectées dans ce formulaire.<br> Vos données personnelles collectées resteront strictement confidentielles. Elle ne seront ni vendues, ni échangées, conformément à nos Mentions Légales, selon l’exercice de vos droits, dont la désinscription est possible à tous moiment dans Droit des Personnes.
                    </small>

                    <input type="submit" class="form-input  " value="">
                </div>

                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>

            <div id="thanks" class="hide">
                <p class="nb">22 176</p>
                <p>signatures sur les 30 000 attendues</p>
                <img class="gauge" src="images/gauge.svg" alt="">
                <p>C’est un pas de plus vers la victoire !</p>
                <p class="merci">Alors, merci !</p>
                <p>Et si vous en parliez autour de vous ?</p>
                <div class="btns">
                    <a href="javascript:void(0)">
                        <img src="images/share.svg" alt="">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="images/donate.svg" alt="">
                    </a>
                </div>
                <a  class="gp" href="javascript:void(0)">
                   <small>Visiter le site Greenpeace ></small>
                </a>
            </div>
        </div>
    </section>
</div>

<!--<script type="text/javascript" src="javascript/scrolloverflow.min.js"></script>-->
<script type="text/javascript" src="javascript/fullpage.min.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>
